@import url('x.css');

.selector-1,
.selector-2,
.selector-3[type='text'] {
  display: block;
  box-sizing: border-box;
  color: rgb(128, 128, 128);
  background: linear-gradient(rgb(0, 0, 0), rgba(0, 0, 0, 0.8));
}
